packages:
  yum:
    git: []

container_commands:
  02_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations iman"
    leader_only: true
  03_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "Portfolio.settings"
    PYTHONPATH: "/opt/python/current/app/Portfolio:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "Portfolio/wsgi.py"
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static_Root/"
