{% extends "base.html" %}
{% load static from staticfiles %}

{% load widget_tweaks %}

<title>{% block head_title %}Iman's Portfolio - Education!{% endblock %}</title>

{% block content %}
    <div id="WelcomeBlackDIV" style="display:none;">
        <svg id="WelcomeBlackSVG" width="100%" height="100%" viewBox="0 0 508 508" preserveAspectRatio="xMaxYMax" >
          <g id="WelcomeBlackG" inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1" transform="scale(0.727) translate(-25, -148)">
          
          <path d="m 508.10674,491.72751 c 0,74.19962 -60.15068,134.35029 -134.3503,134.35029 -74.19962,0 -134.3503,-60.15067 -134.3503,-134.35029 0,-74.19962 60.15068,-134.3503 134.3503,-134.3503 74.19962,0 134.3503,60.15068 134.3503,134.3503 z" sodipodi:ry="134.3503" sodipodi:rx="134.3503" sodipodi:cy="491.72751" sodipodi:cx="373.75644" id="WelcomeBlackApath3785BallL11" style="fill:url(#radialGradient3793BallL11);opacity:0;stroke:none" sodipodi:type="arc" transform="matrix(2.5941131,0,0,2.5941131,-594.97484,-778.27112)"/>
          <path d="m 508.10674,491.72751 c 0,74.19962 -60.15068,134.35029 -134.3503,134.35029 -74.19962,0 -134.3503,-60.15067 -134.3503,-134.35029 0,-74.19962 60.15068,-134.3503 134.3503,-134.3503 74.19962,0 134.3503,60.15068 134.3503,134.3503 z" sodipodi:ry="134.3503" sodipodi:rx="134.3503" sodipodi:cy="491.72751" sodipodi:cx="373.75644" id="WelcomeBlackApath3785BallL12" style="fill:url(#radialGradient3793BallL12);opacity:1;stroke:none" sodipodi:type="arc" transform="matrix(2.5941131,0,0,2.5941131,-594.97484,-778.27112)"/>
          
          <g id="WelcomeBlackChangableSection">
          </g>
          
          <path sodipodi:type="arc" style="fill:url(#radialGradient3797BallL11);opacity:0;stroke:none" id="WelcomeBlackApath3795BallL11" sodipodi:cx="373.75644" sodipodi:cy="491.72751" sodipodi:rx="134.3503" sodipodi:ry="134.3503" d="m 508.10674,491.72751 c 0,74.19962 -60.15068,134.35029 -134.3503,134.35029 -74.19962,0 -134.3503,-60.15067 -134.3503,-134.35029 0,-74.19962 60.15068,-134.3503 134.3503,-134.3503 74.19962,0 134.3503,60.15068 134.3503,134.3503 z" transform="matrix(2.5941131,0,0,2.5941131,-594.97484,-778.27112)"/>
          <path sodipodi:type="arc" style="fill:url(#radialGradient3797BallL12);opacity:1;stroke:none" id="WelcomeBlackApath3795BallL12" sodipodi:cx="373.75644" sodipodi:cy="491.72751" sodipodi:rx="134.3503" sodipodi:ry="134.3503" d="m 508.10674,491.72751 c 0,74.19962 -60.15068,134.35029 -134.3503,134.35029 -74.19962,0 -134.3503,-60.15067 -134.3503,-134.35029 0,-74.19962 60.15068,-134.3503 134.3503,-134.3503 74.19962,0 134.3503,60.15068 134.3503,134.3503 z" transform="matrix(2.5941131,0,0,2.5941131,-594.97484,-778.27112)"/>
    
           <path style="fill:#ffffff;stroke:none;filter:url(#filter3813)" d="m 295.97469,488.69706 c -28.68557,-18.15322 2.46436,-92.50982 45.45686,-74.75128 31.16725,12.87398 21.54838,17.84443 8.08123,46.46702 -11.18769,23.77792 -21.16421,48.77157 -53.53809,28.28426 z" id="path3799" inkscape:connector-curvature="0" sodipodi:nodetypes="ssss" transform="scale(1.6) translate(-190 -220)"/>
          <path sodipodi:nodetypes="sssss" inkscape:connector-curvature="0" id="WelcomeBlackApath3811" d="m 284.35793,547.28592 c -21.69182,-16.01389 43.95343,-14.87532 83.72003,-57.21956 36.97577,-39.37251 54.16036,-82.54167 78.40945,-70.56474 30.23466,14.93327 40.56041,94.74559 -10.10151,139.90613 -65.13471,58.06174 -121.20546,10.63275 -152.02797,-12.12183 z" style="opacity:0.59128065;fill:#FDEEF4;fill-opacity:0.1;stroke:none;filter:url(#filter3904)" transform="matrix(2.5941131,0,0,2.5941131,-594.97484,-778.27112)"/>
          <path style="opacity:0.3787466;fill:#f2f2f2;stroke:none;filter:url(#filter3852)" d="m 280.82241,486.42421 c 8.92514,34.62281 27.71203,6.4479 37.88072,2.52539 z" id="path3834" inkscape:connector-curvature="0" sodipodi:nodetypes="ccc" transform="scale(1.6) translate(-190 -202)"/>
          <path inkscape:connector-curvature="0" sodipodi:nodetypes="cccc" transform="matrix(2.5941131,0,0,2.5941131,-594.97484,-778.27112)"/>
          
          <path inkscape:connector-curvature="0" sodipodi:nodetypes="ccccc" transform="matrix(2.5941131,0,0,2.5941131,-594.97484,-778.27112)"/>
          <path id="path3890" inkscape:connector-curvature="0" transform="matrix(2.5941131,0,0,2.5941131,-594.97484,-778.27112)"/>
          <path sodipodi:nodetypes="sssss" inkscape:connector-curvature="0" id="WelcomeBlackApath3908" d="m 307.27456,579.91409 c 7.85009,-17.13175 29.19055,29.61843 119.18055,-9.13686 56.93411,-24.51937 59.55819,-120.05013 59.33418,-109.25637 -0.30157,14.53053 25.63435,97.71696 -41.40808,136.33403 -91.15726,52.50745 -144.00989,-2.87541 -137.10665,-17.9408 z" style="opacity:0.41100003;fill:#FDEEF4;fill-opacity:1;stroke:none;filter:url(#filter3914)" transform="matrix(2.5941131,0,0,2.5941131,-594.97484,-778.27112)"/>
          <path style="opacity:0.49318801000000001;fill:#9494a6;fill-opacity:1;stroke:none;filter:url(#filter3788)" d="m 393.51262,617.23154 c -9.64482,-0.72889 15.03395,-5.04466 35.67707,-16.77864 23.30687,-13.24812 39.43216,-33.58 37.29901,-22.99676 -2.82695,14.02546 -18.85599,18.33421 -31.56383,26.68476 -16.65736,10.94585 -30.31017,13.92967 -41.41225,13.09064 z" id="path3817" inkscape:connector-curvature="0" sodipodi:nodetypes="sssss" transform="matrix(2.5941131,0,0,2.5941131,-594.97484,-778.27112)"/>
          </g>
        </svg>
    </div>

    <div id="Grid">
        <div class="grid-item">
            <div class="panel panel-MediumGray">
                <div class="panel-heading">
                    Ph.D. in Information Science
                </div>
                <div class="panel-body">
                    <div class="post-content">
                      <div style="width: 130px; height: 130px; float: left; margin-right: 10px;">
                        <a id="UMICHBallIntrocuction" href="https://www.si.umich.edu/" onmouseenter="mouseOver(this)" onmouseleave="mouseOut(this)">
                          <img x="31" y="160" width="670" height="670" xlink:href="{% static 'iman/images/Logos/UMICH_Logo.gif' %}" />
                        </a>
                      </div>
                      <p>I am a 2nd year Ph.D. student at the University of Michigan, studying Information Sciences with strong technical and both analytical background, seeking a UX Research Internship.</p>
                      <p>I am honored for my work with Professor Yan Chen since April 2014. We investigate how people behave in online communities and how to design online communities to provide a safer and more motivating environment for members and non-members to join and contribute to.</p>
                      <p>Recently, I have been awarded a Rackham Graduate Student Research Grant to help defray the costs of conducting my research project "Learning How to Design to Learn". This is a multi-disciplinary joint project with Professor Soo Young Rieh at School of Information and Professor Chris Quintana at School of Education.</p>
                      <p>In Winter 2017, I am a Graduate Student Instructor at the University of Michigan, teaching data analysis and visualization in Python using NumPy, SciPy, and Pandas. This class is being taught by Professor Eytan Adar.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="panel panel-MediumGray">
                <div class="panel-heading">
                    Master of Science in Information
                </div>
                <div class="panel-body">
                    <div class="post-content">
                      <div style="width: 130px; height: 130px; float: left; margin-right: 10px;">
                        <a id="UMICHBallMasters" href="https://www.si.umich.edu/" onmouseenter="mouseOver(this)" onmouseleave="mouseOut(this)">
                          <img x="31" y="160" width="670" height="670" xlink:href="{% static 'iman/images/Logos/UMICH_Logo.gif' %}" />
                        </a>
                      </div>
                      <p><strong>With two specializations:</strong></p>
                      <ul>
                        <li>Human Computer Interaction (HCI)</li>
                        <li>Information Economics for Management (IEM)</li>
                      </ul>
                      <p><strong>Honors:</strong></p>
                      <ul>
                        <li>SXSW 2014 Business Startup Challenge • Austin, TX</li>
                        <li>Weather Underground Startup Trek 2014 • San Francisco, CA</li>
                        <li>UMSI Startup Trek 2013 • New York, NY</li>
                        <li>U-Entrepreneurship Member</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="panel panel-MediumGray">
                <div class="panel-heading">
                    Bachelor of Engineering in Information Technology
                </div>
                <div class="panel-body">
                    <div class="post-content">
                      <div style="width: 130px; height: 130px; float: left; margin-right: 10px;">
                        <a id="IUSTBallBachelors" href="http://www.iust.ac.ir/en" onmouseenter="mouseOver(this)" onmouseleave="mouseOut(this)">
                          <img x="-130" y="-10" width="1000" height="1000" xlink:href="{% static 'iman/images/Contents/IUST.svg' %}" />
                        </a>
                      </div>
                      <p><strong>Honors:</strong></p>
                      <ul>
                        <li>First-class honors.</li>
                        <li>Letter of appreciation from dean of IUST IT department for leading activities in Scientific Association.</li>
                      </ul>
                      <p><strong>Dissertation:</strong> A New Approach for Density-Based Clustering</p>
                      <p>Project descriptionA novel method of clustering which defines a density level for each data point with respect to the effect of other points on them. According to the exerted densities, it generates a directed graph from the dataset. The algorithm can predict the number and also the shapes of clusters and visualize them so as to be interpreted by experts.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="panel panel-MediumGray">
                <div class="panel-heading">
                    Bachelor of Engineering in Computer Science
                </div>
                <div class="panel-body">
                    <div class="post-content">
                      <div style="width: 130px; height: 130px; float: left; margin-right: 10px;">
                        <a id="USCBallBachelors" href="http://usc.ac.ir/IPPWebV1C035/English_WebUI/" onmouseenter="mouseOver(this)" onmouseleave="mouseOut(this)">
                          <img x="-559" y="-340" width="1900" height="1900" xlink:href="{% static 'iman/images/Contents/University_of_Science_&_Culture_logo.svg' %}" />
                        </a>
                      </div>
                      <p><strong>With First-class honors.</strong></p>
                      <p><strong>Dissertation:</strong> A New Approach for the Skeletonization of Arabic/Farsi Handwriting in Gray Scale Images</p>
                      <p>A new 2-dimentional Skeletonization algorithm was designed, implemented and compared with a number of recent applicable methods. Examining the effect of further points on each point, instead of only its 8 neighbors, with novel results regarding running time and accuracy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="LoadingFooter">
        <!--<div id="LoadingText" class="text-center">Loading</div>-->
        <!--<img id="LoadingImg" src="{% static 'iman/images/1Loading.gif' %}" alt="Loading Animation"
             class="img-responsive center-block" width="130px"/>-->

        <svg width="1" height="1" viewBox="0 0 508 508" preserveAspectRatio="xMaxYMax" >
         <defs id="defs4">
         <linearGradient inkscape:collect="always" id="linearGradient3892">
           <stop style="stop-color:#ffffff;stop-opacity:1;" offset="0" id="stop3894"/>
           <stop style="stop-color:#ffffff;stop-opacity:0;" offset="1" id="stop3896"/>
         </linearGradient>

         <linearGradient id="linearGradient3769BallL11" inkscape:collect="always">
           <stop id="stop3771" offset="0" style="stop-color:#999999;stop-opacity:0"/>
           <stop id="stop3773" offset="1" style="stop-color:#000000;stop-opacity:1"/>
         </linearGradient>

         <linearGradient id="linearGradient3769BallL12" inkscape:collect="always">
           <stop id="stop3771" offset="0" style="stop-color:#333333;stop-opacity:0"/>
           <stop id="stop3773" offset="1" style="stop-color:#FFFFFF;stop-opacity:1"/>
         </linearGradient>

         <radialGradient inkscape:collect="always" xlink:href="#linearGradient3769BallL11" id="radialGradient3793BallL11" cx="344.43781" cy="443.44409" fx="344.43781" fy="443.44409" r="134.3503" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.0977446,-0.01503755,0.01596302,1.165304,-41.731584,-72.368088)"/>
         <radialGradient inkscape:collect="always" xlink:href="#linearGradient3769BallL11" id="radialGradient3797BallL11" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.067696,-4.4267083e-4,4.7693049e-4,1.1503513,-22.005563,-70.15154)" cx="372.34354" cy="487.70645" fx="372.34354" fy="487.70645" r="134.3503"/>

         <radialGradient inkscape:collect="always" xlink:href="#linearGradient3769BallL12" id="radialGradient3793BallL12" cx="344.43781" cy="443.44409" fx="344.43781" fy="443.44409" r="134.3503" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.0977446,-0.01503755,0.01596302,1.165304,-41.731584,-72.368088)"/>
         <radialGradient inkscape:collect="always" xlink:href="#linearGradient3769BallL12" id="radialGradient3797BallL12" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.067696,-4.4267083e-4,4.7693049e-4,1.1503513,-22.005563,-70.15154)" cx="372.34354" cy="487.70645" fx="372.34354" fy="487.70645" r="134.3503"/>

         <filter inkscape:collect="always" id="filter3813" x="-0.35037288" width="1.7007458" y="-0.26352936" height="1.5270587" color-interpolation-filters="sRGB">
           <feGaussianBlur inkscape:collect="always" stdDeviation="11.083103" id="feGaussianBlur3815"/>
         </filter>
         <filter inkscape:collect="always" id="filter3852" x="-0.26740304" width="1.5348061" y="-0.45334214" height="1.9066843" color-interpolation-filters="sRGB">
           <feGaussianBlur inkscape:collect="always" stdDeviation="3.5452963" id="feGaussianBlur3854"/>
         </filter>
         <filter inkscape:collect="always" id="filter3880" x="-0.2617332" width="1.5234663" y="-0.2045728" height="1.4091456" color-interpolation-filters="sRGB">
           <feGaussianBlur inkscape:collect="always" stdDeviation="1.8727642" id="feGaussianBlur3882"/>
         </filter>
         <filter inkscape:collect="always" id="filter3884" x="-0.25804681" width="1.5160936" y="-0.20169149" height="1.403383" color-interpolation-filters="sRGB">
           <feGaussianBlur inkscape:collect="always" stdDeviation="1.8463873" id="feGaussianBlur3886"/>
         </filter>
         <linearGradient inkscape:collect="always" xlink:href="#linearGradient3892" id="linearGradient3898" x1="349.69012" y1="418.27814" x2="299.33289" y2="410.1969" gradientUnits="userSpaceOnUse"/>
         <filter inkscape:collect="always" id="filter3904" x="-0.25611812" width="1.5122362" y="-0.28929639" height="1.5785928" color-interpolation-filters="sRGB">
           <feGaussianBlur inkscape:collect="always" stdDeviation="20.457851" id="feGaussianBlur3906"/>
         </filter>
         <filter inkscape:collect="always" id="filter3914" x="-0.11309111" width="1.2261822" y="-0.14260711" height="1.2852142" color-interpolation-filters="sRGB">
           <feGaussianBlur inkscape:collect="always" stdDeviation="8.619243" id="feGaussianBlur3916"/>
         </filter>
         <filter inkscape:collect="always" id="filter3792" x="-0.084208913" width="1.1684178" y="-0.4264774" height="1.8529547" color-interpolation-filters="sRGB">
           <feGaussianBlur inkscape:collect="always" stdDeviation="5.5645934" id="feGaussianBlur3794"/>
         </filter>
         <filter inkscape:collect="always" id="filter3788" x="-0.10657194" width="1.2131439" y="-0.18730487" height="1.3746097">
           <feGaussianBlur inkscape:collect="always" stdDeviation="3.3445481" id="feGaussianBlur3790"/>
         </filter>
         </defs>
        </svg>
    </div>


{% endblock %}

{% block scontent %}

    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'iman/js/1Portfolio.js' %}"></script>
{% endblock %}

{% block sloadandresizecontent %}
  SetItemsWidth();
  LoadYouTubeVideos();
{% endblock %}

{% block sdocumentready %}
  AddNodeTools();
{% endblock %}